:root{
    /*cores*/
    --primaria: ;
    --pf-escuro: oklch(14.958% 0.00002 271.152 / 0.66);
    --pf: oklch(0.2 0 264);
    --pf-claro: oklch(0.3 0 264);

    /*cores de texto */
    --texto: oklch(0.96 0 264);
    --texto-dim: oklch(0.76 0 264);
    
    /* Sombra */set 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
    

    --sombra-m: in
}




::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    
}


@media(max-width: 800px){
    
    /*     nav{
        position: fixed;
        top:0;
        right:0;
        width: min(15rem,100%);
        height: auto;
        z-index: 10;
        border-left: solid 1px #ffffff19;
        display: flex;
        justify-content: space-between  ;
    } */
  
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }


    html, body {
  max-width: 100%;
  overflow-x: hidden;
}


    body{
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    background-color: oklch(0.1 0 264); 
    }


    
nav{
    height: 5rem;
    width: auto;
    box-shadow: var(--sombra-m);
}

nav .fechar{
    display: none;
}

nav .abrir{
    padding-right: 1rem;
}

.titulo{
    font-size: 1rem;
    color: var(--texto-dim);
    margin-right: auto;
}


nav .title{
    padding-left: 1rem;
    color: var(--texto-dim);
    margin-right: auto;
}


#toggle{
    display: none;
}


nav .link, nav .fechar{
    display: none;
}

#toggle:checked ~ .anchor-container{
    align-items: flex-start;
}

#toggle:checked ~ .anchor-container .link{
    display: block;
}

#toggle:checked ~ .anchor-container .fechar{
    display: block;
}

#toggle:checked ~.anchor-container .abrir{
    display: none;
}



nav a{
    display: flex;
    text-decoration: none;
    color: var(--texto-dim);
    padding: 1em 2em;
}

nav .anchor-container{
    background-color: var(--pf);
    border: solid 1px #ffffff50;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-start  ;
    align-items: center;
}

nav .menu{
    z-index: 10;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 12rem;
    display: flex;
    flex-direction: column;
    background-color: var(--pf);
    border-left: solid 1px #ffffff50;

}




    .apresentacao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 1rem;
    gap: 1rem;
    

}

.apresentacao img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.apresentacao p{
    padding: 1rem;
}

.apresentacao h2{
    padding: 0.5rem;
}

.ola{
    text-align: center;
    color: var(--texto-dim);
    background-color: var(--pf);
    border-radius: 10px;
    box-shadow: var(--sombra-m);
}

.container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.c1, .c2{
    background-color: var(--pf);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: var(--sombra-m);
    border-radius: 20px;
    padding: 1rem;
    gap: 0.7rem;

}


.item{
    height: 12rem;
    width: 7rem;
    color: var(--texto-dim);
    text-align: center;
    overflow: hidden;
    border-radius: 15px ;

    
}

.c1 h2, .c2 h2{
    width: 100%;
    color: var(--texto-dim);
    padding: 1rem;

}

.item img{
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.feedback{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pf);
    border-radius: 20px;
    box-shadow: var(--sombra-m);
    margin: 1rem;


}

.feedback form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.feedback h2{
    color: var(--texto-dim);

}

::placeholder{
    color: var(--texto-dim);
}

.feedback input{
    width: 100%;
    height: 30%;
    background-color: var(--pf-claro);
    border-radius: 30px;
    box-shadow: var(--sombra-m);
    text-align: center;
    color: var(--texto);

}

.feedback textarea{
    width: 100%;
    height: 60%;
    background-color: var(--pf-claro);
    border-radius: 55px;
    box-shadow: var(--sombra-m);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    color: var(--texto);

}

.feedback .enviar{
    align-self: flex-end;
    color: var(--texto-dim);
    background-color: var(--pf-claro);
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    box-shadow: var(--sombra-m);
    transition: 300ms ease;

}

.feedback .enviar:hover{
    transform: scale(1.1);
}


.footer{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-left: 3vw;
    padding-top: 1.5rem;
    padding-bottom: calc(1.5rem + env(safe-area-inset-bottom));

}

.footer svg{
    height: 32px;
    display: block;
        
}

.footer a{
    box-shadow: var(--sombra-m);
    background-color: var(--pf-claro);
    border-radius: 50%;
    padding: 1em;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    position: relative;


}

.footer a svg{
    height: 32px;
    display: block;
}

.footer a::before{
    content: attr(rede-social);
    position: absolute;
    background-color: var(--cor-rede);
    color: var(--texto-dim);
    border-radius: 100px;
    padding: 0.5em 1em;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transform: translateY(-60px);
    opacity: 0;
    transition: 300ms ease;
}

.footer a:hover{
    background-color: var(--cor-rede); 
}

.footer a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid var(--cor-rede);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translateY(0px);
    opacity: 0;
}

.footer a:hover::before{
    transform: translateY(-65px);
    opacity:1;
}
.footer a:hover::after{
    transform: translateY(-42px);
    opacity: 1;
}    

    
}




@media (min-width: 801px) and (max-width: 1003px){
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }



body{
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-x: hidden;
    background-color: oklch(0.1 0 264);
}


nav{
    height: 5rem;
    background-color: var(--pf);
    width: auto;
    border-bottom: var(--pf-claro) 1px solid;
    box-shadow: var(--sombra-m);
}

 nav .abrir, nav .fechar{
        display: none;
    }


    .titulo{
        font-size: 1rem;
        color: var(--texto-dim);
    }

    nav .anchor-container{
        list-style: none;
        color: var(--texto-dim);
        display: flex;
        flex-direction: row;
        align-items: center;  
        padding: 1rem;
        width: 100vw;

    }

    nav .title{
        margin-right: auto;
    }

    nav a{
     text-decoration: none;
     color: var(--texto-dim);
     padding: 1em 2em;
    }

    nav .menu{
        display: flex;
        flex-direction: row;
    }
    

    nav a:hover{
        background-color:  oklch(76.039% 0.00009 271.152 / 0.35);
    
    }

.apresentacao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.apresentacao img{
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.apresentacao p{
    padding: 1rem;
}

.apresentacao h2{
    padding: 0.5rem;
}

.ola{
    text-align: center;
    color: var(--texto-dim);
    background-color: var(--pf);
    border-radius: 10px;
    box-shadow: var(--sombra-m);
}

.container{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.c1, .c2{
    background-color: var(--pf);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: var(--sombra-m);
    border-radius: 20px;
    padding: 1rem;
    gap: 0.7rem;

}


.item{
    height: 12rem;
    width: 7rem;
    color: var(--texto-dim);
    text-align: center;
    overflow: hidden;
    border-radius: 15px ;

    
}

.c1 h2, .c2 h2{
    width: 100%;
    color: var(--texto-dim);
    padding: 1rem;

}

.item img{
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.feedback{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--pf);
    border-radius: 20px;
    box-shadow: var(--sombra-m);
    margin: 1rem;


}

.feedback form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
}

.feedback h2{
    color: var(--texto-dim);

}

::placeholder{
    color: var(--texto-dim);
}

.feedback input{
    width: 100%;
    height: 30%;
    background-color: var(--pf-claro);
    border-radius: 30px;
    box-shadow: var(--sombra-m);
    text-align: center;
    color: var(--texto);

}

.feedback textarea{
    width: 100%;
    height: 60%;
    background-color: var(--pf-claro);
    border-radius: 55px;
    box-shadow: var(--sombra-m);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    resize: none;
    color: var(--texto);

}

.feedback .enviar{
    align-self: flex-end;
    color: var(--texto-dim);
    background-color: var(--pf-claro);
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    box-shadow: var(--sombra-m);
    transition: 300ms ease;

}

.feedback .enviar:hover{
    transform: scale(1.1);
}


.footer{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-left: 3vw;
    padding-top: 1.5rem;
}

.footer svg{
    height: 32px;
        
}

.footer a{
    box-shadow: var(--sombra-m);
    background-color: var(--pf-claro);
    border-radius: 50%;
    padding: 1em;
    flex-shrink: 0;
    display: grid;
    place-items: center;

}

.footer a svg{
    height: 32px;
}

.footer a::before{
    content: attr(rede-social);
    position: absolute;
    background-color: var(--cor-rede);
    color: var(--texto-dim);
    border-radius: 100px;
    padding: 0.5em 1em;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
    transform: translateY(-60px);
    opacity: 0;
    transition: 300ms ease;
}

.footer a:hover{
    background-color: var(--cor-rede); 
}

.footer a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-top: 8px solid var(--cor-rede);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: translateY(0px);
    opacity: 0;
}

.footer a:hover::before{
    transform: translateY(-65px);
    opacity:1;
}
.footer a:hover::after{
    transform: translateY(-42px);
    opacity: 1;
}

}





@media(min-width: 1003px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y:auto;
        background-color: oklch(0.1 0 264);
    }

    nav{
        border-bottom: solid 1px #ffffff50;
        background-color: var(--pf);
        display: flex;
        width: 100vw;

    }

    nav .abrir, nav .fechar{
        display: none;
    }


    .titulo{
        font-size: 1rem;
        color: var(--texto-dim);
    }

    nav .anchor-container{
        list-style: none;
        color: var(--texto-dim);
        display: flex;
        flex-direction: row;
        align-items: center;  
        padding: 1rem;
        width: 100vw;

    }

    nav .title{
        margin-right: auto;
    }

    nav a{
     text-decoration: none;
     color: var(--texto-dim);
     padding: 1em 2em;
    }

    nav .menu{
        display: flex;
        flex-direction: row;
    }
    

    nav a:hover{
        background-color:  oklch(76.039% 0.00009 271.152 / 0.35);
    
    }

    .apresentacao{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        height: auto;
        color: oklch(0.96 0 264);
        padding-top: 1rem;
    }

    .ola{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        border-radius: 10px;
        padding: 1rem;
        box-shadow: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;
        background-color: var(--pf);

    }

    .apresentacao img{
        border-radius: 50%;
        width: 25rem;
        height: 25rem;
        object-fit: cover;
        box-shadow: 0 10px 10px var(--pf), 0 2px 4px var(--pf), 0 4px 8px #00000015;
        margin-left: 3rem;
        
    }

    .apresentacao p{
        max-width: 75ch;
        color: var(--texto-dim);
    }

    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        width: 100vw;
        gap: 2rem;
        padding: 1rem;
        align-items: center;
    }       

    
    .c1,.c2{
        height: auto;
        min-height: 60vh;
        width: 47%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: 1;
        gap: 10px;
        background-color: var(--pf);
        box-shadow: var(--sombra-m);
        border-radius: 20px;
        padding: 1rem;
        align-items: center;
        justify-content: center;


    }

    .c1 h2{
        text-align: right;
    }

    .c1 h2,.c2 h2{
        color: var(--texto-dim);
        width: 100%;
        margin-top: 0;
        height: auto;
        background-color: var(--pf-claro);
        padding: 1rem;
        box-shadow: var(--sombra-m);
        border-radius: 25px;

    }

    .c2 h2{
        text-align: left;
    }

    .item{
        height: 30vh;
        width: 18%;
        color: var(--pf);
        background-color: var(--pf-claro);
        box-shadow: var(--sombra-m);
        border-radius: 15px;
        margin-top: 5rem;
        overflow: hidden;
        color: var(--texto-dim);
        text-align: center;


    }

    .item img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        box-shadow: var(--sombra-m);
        border-radius: 5px;
    }

    .item :hover{
        transform: scale(1.2);
        transition: 100ms ease;


    }

    .item p{
        background-color: var(--pf);
    }


    .feedback{
        height: 60vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feedback form{
        height: 90%;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5rem;
        background-color: var(--pf);
        border-radius: 20px;
        box-shadow: var(--sombra-m);
        
    }

    .feedback h2{
        color: var(--texto-dim);

    }

    ::placeholder{
        color: var(--texto-dim);
    }

    .feedback input{
        width: 100%;
        height: 30%;
        background-color: var(--pf-claro);
        border-radius: 30px;
        box-shadow: var(--sombra-m);
        text-align: center;
        color: var(--texto);

    }

    .feedback textarea{
        width: 100%;
        height: 60%;
        background-color: var(--pf-claro);
        border-radius: 55px;
        box-shadow: var(--sombra-m);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        resize: none;
        color: var(--texto);

    }

    .feedback .enviar{
        align-self: flex-end;
        color: var(--texto-dim);
        background-color: var(--pf-claro);
        border-radius: 25px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        box-shadow: var(--sombra-m);
        transition: 300ms ease;

    }

.feedback .enviar:hover{
    transform: scale(1.1);
}

    .footer{
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        margin-left: 3vw;
        padding-top: 1.5rem;
    }

    .footer svg{
        height: 32px;
         
    }
    
    .footer a{
        box-shadow: var(--sombra-m);
        background-color: var(--pf-claro);
        border-radius: 50%;
        padding: 1em;
        flex-shrink: 0;
        display: grid;
        place-items: center;

    }

    .footer a svg{
        height: 32px;
    }

    .footer a::before{
        content: attr(rede-social);
        position: absolute;
        background-color: var(--cor-rede);
        color: var(--texto-dim);
        border-radius: 100px;
        padding: 0.5em 1em;
        text-decoration: none;
        box-shadow: 0 5px 10px rgba(0,0,0,0.05);
        transform: translateY(-60px);
        opacity: 0;
        transition: 300ms ease;
    }

    .footer a:hover{
        background-color: var(--cor-rede); 
    }

    .footer a::after{
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-top: 8px solid var(--cor-rede);
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        transform: translateY(0px);
        opacity: 0;
    }

    .footer a:hover::before{
        transform: translateY(-65px);
        opacity:1;
    }
    .footer a:hover::after{
        transform: translateY(-42px);
        opacity: 1;
    }
}