*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
    
}

.apresentacao img{
    object-fit: fill;
    border-radius: 50%;
    width: 30em;
    height: 30em;
}

@media(max-width: 450px){
    body{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .apresentacao img{
    object-fit: fill;
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
}

